.editorconfig
.gitattributes
.github
.gitignore
.idea
.vscode
.pre-commit-config.yaml
venv
.git

cheatsheet_shell_commands.md
env.example.local
env.example.prod
.pytest_cache/
.mypy_cache/
.env
.envrc
sandbox/
