# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/

# Environments
venv/
.env
.envs/*
!.envs/.local/
.envrc

# Django stuff:
db.sqlite3

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/

.vscode/*
