# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/

# Environments
venv/

# Django stuff:
db.sqlite3

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/

### VisualStudioCode
.vscode/*

### Project
price_navigator/media/

.pytest_cache/
.env
.envs/*
.envrc
