# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# celery beat schedule file
celerybeat-schedule

# Dependency directories
node_modules/
jspm_packages/

# Unit test / coverage reports
htmlcov/

# Environments
venv/

# Django stuff:
db.sqlite3
staticfiles/

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/

### VisualStudioCode
.vscode/*

### Project
price_navigator/media/

.pytest_cache/
.ipython/
price_navigator/static/webpack_bundles/
webpack-stats.json
.env
.env.local
.envs/*
.envrc
load_env_vars.sh
