# General
# ------------------------------------------------------------------------------
USE_DOCKER=True
IPYTHONDIR=/app/.ipython
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=
DJANGO_ADMIN_URL=
DJANGO_ALLOWED_HOSTS=.example.com
DJANGO_DEBUG=True

# Security
# ------------------------------------------------------------------------------
# TIP: better off using DNS, however, redirect is OK too
DJANGO_SECURE_SSL_REDIRECT=False

DATABASE_URL=postgres://postgres:password@host:port/db_name

# django-allauth
# ------------------------------------------------------------------------------
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True


# Redis
# ------------------------------------------------------------------------------
# REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------
# CELERY_BROKER_URL=redis://localhost:6379/0

# PostgreSQL / for Docker
# ------------------------------------------------------------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=


# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=4


# Flower
CELERY_FLOWER_USER=debug
CELERY_FLOWER_PASSWORD=debug
